.the-things
  .the-tags
    %button.btn.btn-default.btn-tag{:type => 'button'} 
      Web development
    %button.btn.btn-default.btn-tag{:type => 'button'}
      surfing
    %button.btn.btn-default.btn-tag{:type => 'button'}
      board repair
    %button.btn.btn-default.btn-tag{:type => 'button'}
      Enterprise information systems
    %button.btn.btn-default.btn-tag{:type => 'button'}
      inventing
    %button.btn.btn-default.btn-tag{:type => 'button'}
      surfing
    %button.btn.btn-default.btn-tag{:type => 'button'}
      inventing
    %button.btn.btn-default.btn-tag{:type => 'button'}
      Enterprise information systems
    %button.btn.btn-default.btn-tag{:type => 'button'}
      inventing
    %button.btn.btn-default.btn-tag{:type => 'button'}
      Web development
    %button.btn.btn-default.btn-tag{:type => 'button'}
      surfing
    %button.btn.btn-default.btn-tag{:type => 'button'}
      Web development
    %button.btn.btn-default.btn-tag{:type => 'button'}
      surfing
    %button.btn.btn-default.btn-tag{:type => 'button'}
      board repair
    %button.btn.btn-default.btn-tag{:type => 'button'}
      inventing some stuff
    %button.btn.btn-default.btn-tag{:type => 'button'}
      Enterprise information systems
  %hr.small-margin
  Showing:
  %button.btn.btn-default.btn-tag{:type => 'button'} 
    Project management
    %span.fa.fa-close.remove-x
  %button.btn.btn-default.btn-tag{:type => 'button'} 
    Team work
    %span.fa.fa-close.remove-x

  .row
    .col-xs-4
      = render partial: 'things/thing_small'
    .col-xs-4
      = render partial: 'things/thing_small'
    .col-xs-4
      = render partial: 'things/thing_small'
    .col-xs-4
      = render partial: 'things/thing_small'
    .col-xs-4
      = render partial: 'things/thing_small'