.container.container-default
  .row
    .col-xs-12
      %h1 Add your profile photo!

      = simple_form_for @user, url: update_user_profile_pic_path do |f|
        .the-profile-pic-upload
          = f.input :profile_pic, as: :file, label: false, input_html: { class: 'cropit-image-input' }
          = f.input :crop_x, as: :hidden, input_html: { id: 'cropX' }
          = f.input :crop_y, as: :hidden, input_html: { id: 'cropY' }
          = f.input :crop_ratio, as: :hidden, input_html: { id: 'cropRatio' }
          .cropit-image-preview-container
            .cropit-image-preview
          
          .image-size-label
            Resize image
          %input.cropit-image-zoom-input{:type => "range"}

          = f.button :submit, 'Continue', class: 'btn btn-success full-width'

      = link_to 'Skip', welcome_add_interests_path
