.container.container-default
  .row
    .col-xs-12
      %h2 Join Profeey
      %p bla bla

      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        / = devise_error_messages!
        = render partial: 'shared/error_messages', locals: { target: resource }
        /= f.simple_fields_for :professions, include_id: false do |p|
        /= p.label :name, 'Tell who you are. For example Student, Manager, Bartender...'
        /= p.input :name, placeholder: 'Profession', label: false, input_html: { class: 'typeahead' }
        = f.input :full_name, placeholder: 'Full name', label: false
        = f.input :email, placeholder: 'Email', label: false
        = f.input :password, placeholder: 'Password', label: false
        = f.button :submit, 'Sign up', class: 'btn btn-success btn-full-width'
        
      = render 'users/shared/links'